

.footer-content{
    text-align: center;
    margin: 2rem;
    padding: 1rem;
}
.footer-header{
    text-decoration: none;
    color: #fff;
}
.footer-list, .copyright{
    width: 30%;
    margin: auto;
    text-align: center;
}
.footer-ul{
    display: flex;
    padding: 0;
}
.footer-ul li{
    list-style-type: none;
    margin: auto;
    /* margin: 0.3rem 1.5rem; */
}
.footer-ul li a{
    font-size: 18px;
    color: #676767;
    text-decoration: none;
    transition: .3s;
}
.footer-ul li a:hover{
    color: #fff;
}



